body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('test.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.button2 {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f4511e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.button2:hover {
    background-color: #ff6f42;
}

.button-hide {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
}

.button-hide2 {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #ffffff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
    position: fixed;
    top: 1;
    left: 0;
}

