body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-gap: 5px;
    margin: 20px auto;
    background-color: #004080;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    height: 430px; /* Ajusté pour contenir les animations */
}

.cell {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 0;
    transition: top 0.5s ease;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

#status {
    font-size: 1.5em;
    margin: 20px;
}

#restart-button {
    font-size: 1em;
    padding: 10px 20px;
}
